// clang-format off
/*
 * Backpack - Skyscanner's Design System
 *
 * Copyright 2018-2022 Skyscanner Ltd
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
#import "BPKFont.h"

#import <Backpack/Color.h>
#import <Backpack/Theme.h>

#import "../BPKFontManager.h"
#import "../BPKFontDefinitionProtocol.h"

NS_ASSUME_NONNULL_BEGIN

@interface BPKFont()
@end

@implementation BPKFont

// I have added this method to BPKFont so that we don't have to expose the full workings of BPKFontManager to consumers.
+ (void)setFontDefinition:(id<BPKFontDefinitionProtocol>_Nullable)fontDefinition {
    [BPKFontManager sharedInstance].fontDefinition = fontDefinition;
}

+ (NSAttributedString *)attributedStringWithFontStyle:(BPKFontStyle)fontStyle
                                              content:(NSString *)content {
    NSDictionary *attributes = [self attributesForFontStyle:fontStyle];
    NSAttributedString *attributedString = [[NSAttributedString alloc] initWithString:content attributes:attributes];

    return attributedString;
}

+ (NSAttributedString *)attributedStringWithFontStyle:(BPKFontStyle)fontStyle
                                              content:(NSString *)content
                                            textColor:(UIColor *)textColor {
    NSMutableDictionary *attributes = [[self attributesForFontStyle:fontStyle] mutableCopy];
    [attributes setObject:textColor forKey:NSForegroundColorAttributeName];
    NSAttributedString *attributedString = [[NSAttributedString alloc] initWithString:content attributes:[attributes copy]];


    return attributedString;
}

+ (UIFont *)fontForFontStyle:(BPKFontStyle)fontStyle {
    return [self fontForStyle:fontStyle fontManager:[BPKFontManager sharedInstance]];
}

#pragma mark - Private

+ (NSDictionary<NSAttributedStringKey, id> *)attributesForFontStyle:(BPKFontStyle)fontStyle
                                               withCustomAttributes:(NSDictionary<NSAttributedStringKey,id> *)customAttributes {
    return [self attributesForFontStyle:fontStyle withCustomAttributes:customAttributes fontManager:[BPKFontManager sharedInstance]];
}

+ (NSDictionary<NSAttributedStringKey, id> *)attributesForFontStyle:(BPKFontStyle)fontStyle
                                               withCustomAttributes:(NSDictionary<NSAttributedStringKey,id> *)customAttributes
                                                        fontManager:(BPKFontManager *)fontManager {
    NSMutableDictionary<NSAttributedStringKey, id> *attributes = [[self attributesForFontStyle:fontStyle fontManager:fontManager] mutableCopy];

    for (NSAttributedStringKey key in customAttributes) {
        if ([key isEqualToString:NSKernAttributeName] || [key isEqualToString:NSFontAttributeName]) {
            // We explicitly ignore these as they would change the look of the rendered text significantly
            // enough that it would no longer be the Backpack style.
            continue;
        }

        [attributes setObject:customAttributes[key] forKey:key];
    }

    return [attributes copy];
}


+ (NSDictionary<NSAttributedStringKey, id> *)attributesForFontStyle:(BPKFontStyle)style {
    return [self attributesForFontStyle:style fontManager:[BPKFontManager sharedInstance]];
}

+ (NSDictionary<NSAttributedStringKey, id> *)attributesForFontStyle:(BPKFontStyle)style fontManager:(BPKFontManager *)fontManager {

    UIFont *font = [self fontForStyle:style fontManager:fontManager];
    NSMutableParagraphStyle *paragraphStyle = [NSMutableParagraphStyle new];
    CGFloat lineHeight = [self lineHeightForStyle:style];
    [paragraphStyle setMaximumLineHeight:lineHeight];
    [paragraphStyle setMinimumLineHeight:lineHeight];
    NSDictionary *result = @{
                   NSForegroundColorAttributeName: BPKColor.textPrimaryColor,
                   NSFontAttributeName: font,
                   NSParagraphStyleAttributeName: paragraphStyle,
                   NSKernAttributeName: [self letterSpacingForStyle:style]
                   };

    return result;
}

+ (UIFont *)fontForStyle:(BPKFontStyle)style fontManager:(BPKFontManager *)fontManager {
    switch (style) {
       {% for f in font %}
           case {{f.enumName}}:
             {% if f.enumName.includes("Heavy") -%}
               return [fontManager heavyFontWithSize:{{f.size}}];
             {% elif f.enumName.includes("Emphasized") -%}
               return [fontManager semiboldFontWithSize:{{f.size}}];
             {% else -%}
               return [fontManager regularFontWithSize:{{f.size}}];
             {% endif %}{% endfor %}
            default:
              NSAssert(NO, @"Unknown fontStyle %ld", (unsigned long)style);
    }
}

+ (NSNumber *)letterSpacingForStyle:(BPKFontStyle)style {
    switch (style) {
        {% for f in font %}{% if f.letterSpacing != null -%}case {{f.enumName}}: 
            // Corresponding to Letter Spacing {{f.letterSpacing.name}}
            return @({{f.letterSpacing.value}});
        {% endif %}{% endfor %}
        default:
            return @(0); // No Defined Letter Spacing
    }
}

+ (CGFloat)lineHeightForStyle:(BPKFontStyle)style {
    switch (style) {
        {% for f in font %}{% if f.lineHeight != null -%}case {{f.enumName}}: 
            // Corresponding to Line Height {{f.lineHeight.name}}
            return {{f.lineHeight.value}};
        {% endif %}{% endfor %}
        default:
            return 0; // No Defined Line Height
    }
}

@end
NS_ASSUME_NONNULL_END
// clang-format on
