/*
 * Backpack - Skyscanner's Design System
 *
 * Copyright 2018 Skyscanner Ltd
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
#import <Foundation/Foundation.h>

typedef NS_ENUM(NSUInteger, BPKFontStyle) {
{% for f in font %}
    {{f.enumName}} = {{loop.index0}},{% endfor %}
};

NS_ASSUME_NONNULL_BEGIN
@class UIFont;
/**
  BPKFont is the entry point for the Backpack typography stack. It expose the
  supported text styles as static methods.
*/
@interface BPKFont: NSObject
+ (UIFont * _Nullable)fontWithStyle:(BPKFontStyle)style;
{% for f in font %}
/**
  The `{{f.name}}` text style from the Backpack typograhpy stack.
*/
+ (UIFont *){{f.name}};
{% endfor %}
@end
NS_ASSUME_NONNULL_END
