name: Build

on:
  workflow_call:
    secrets:
      GH_APP_PRIVATE_KEY:
        required: true

defaults:
  run:
    shell: bash -l {0}

jobs:
  Setup:
    name: Install Dependencies
    runs-on: macos-15
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v6

      - name: Set up node and ruby
        uses: asdf-vm/actions/install@v4 # Sets ruby and node version via `.tool-versions`

  Lint:
    name: Lint Project
    runs-on: macos-15
    needs: [Setup]
    timeout-minutes: 20
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Cache Node modules
        uses: actions/cache@v5
        id: cache_node_modules
        with:
          path: node_modules
          key: ${{ runner.os }}-node_modules-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node_modules-

      - name: NPM ci
        if: steps.cache_node_modules.outputs.cache-hit != 'true'
        run: npm ci

      - name: Run NPM build
        run: npm run build

      - name: Cache Bundler install Gems
        uses: actions/cache@v5
        id: cache_bundler_install_gems
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ env.ImageVersion }}-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-${{ env.ImageVersion }}

      - name: Cache Pods
        uses: actions/cache@v5
        id: cache_pods
        with:
          path: Example/Pods
          key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pods-

      - name: Bundle Install
        run: bundle install --jobs 4 --retry 3

      - name: Pod Install
        if: steps.cache_pods.outputs.cache-hit != 'true'
        run: bundle exec pod install
        working-directory: Example

      - name: Select Xcode 16
        run: sudo xcode-select --switch /Applications/Xcode_16.4.app

      - name: Install clang-format
        run: brew install clang-format

      - name: Discard changes to Gemfile.lock
        run: git checkout -- Gemfile.lock

      - name: Check pristine
        run: ./scripts/lint

      - name: Run Swiftlint
        run: Pods/SwiftLint/swiftlint lint --strict --config .swiftlint.yml
        working-directory: Example

      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}

      - name: Run danger
        run: npm run danger
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}

  BuildSwiftPackage:
    needs: [Setup]
    uses: ./.github/workflows/_spm-build.yml

  AnalyzePods:
    name: Analyzing pods
    runs-on: macos-15
    needs: [Setup]
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        schemes: [common, uikit, swiftui]

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Cache Bundler install Gems
        uses: actions/cache@v5
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ env.ImageVersion }}-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-${{ env.ImageVersion }}

      - name: Cache Pods
        uses: actions/cache@v5
        with:
          path: Example/Pods
          key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pods-

      - name: Bundle Install
        run: bundle install --jobs 4 --retry 3

      - name: Pod Install
        run: bundle exec pod install
        working-directory: Example

      - name: Select Xcode 16
        run: sudo xcode-select --switch /Applications/Xcode_16.4.app

      - name: List Runtimes
        run: xcrun simctl list runtimes

      - name: Analyze
        run: ./scripts/ci ${{ matrix.schemes }} analysis

  TestPods:
    name: Testing Pods
    needs: [Setup]
    uses: ./.github/workflows/_test.yml
    secrets:
      GH_APP_PRIVATE_KEY: ${{ secrets.GH_APP_PRIVATE_KEY }}

  UploadArtifacts:
    name: Upload Artifacts
    runs-on: macos-15
    needs: [TestPods]
    timeout-minutes: 20
    steps:
      - name: Save assets
        uses: actions/upload-artifact@v6
        if: ${{ failure() }}
        with:
          name: FailureDiffs
          path: Example/BackpackTests/FailureDiffs
