name: Build

on:
  workflow_call:
    secrets:
      GH_APP_PRIVATE_KEY:
        required: true

defaults:
  run:
    shell: bash -l {0}

jobs:
  Setup:
    name: Install Dependencies
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4

      - name: Verify Bundler Version
        run: if [[ $(cat Gemfile.lock | sed -n '/BUNDLED WITH/{n;p;}' | sed '/^$/d;s/[[:blank:]]//g') != "2.2.3" ]]; then echo "Error - Gemfile.lock should be bundled with bundler 2.2.3"; exit 64; fi

      - name: Set up node and ruby
        uses: asdf-vm/actions/install@v3 # Sets ruby and node version via `.tool-versions`

  Lint:
    name: Lint Project
    runs-on: macos-14
    needs: [Setup]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache Node modules
        uses: actions/cache@v4
        id: cache_node_modules
        with:
          path: node_modules
          key: ${{ runner.os }}-node_modules-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node_modules-

      - name: NPM ci
        if: steps.cache_node_modules.outputs.cache-hit != 'true'
        run: npm ci

      - name: Run NPM build
        run: npm run build

      - name: Cache Bundler install Gems
        uses: actions/cache@v4
        id: cache_bundler_install_gems
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ env.ImageVersion }}-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-${{ env.ImageVersion }}

      - name: Cache Pods
        uses: actions/cache@v4
        id: cache_pods
        with:
          path: Example/Pods
          key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pods-

      - name: Bundle Install
        run: bundle install --jobs 4 --retry 3

      - name: Pod Install
        if: steps.cache_pods.outputs.cache-hit != 'true'
        run: bundle exec pod install
        working-directory: Example

      - name: Select Xcode 16
        run: sudo xcode-select --switch /Applications/Xcode_16.app

      - name: Install clang-format
        run: brew install clang-format

      - name: Check pristine
        run: ./scripts/lint

      - name: Run Swiftlint
        run: Pods/SwiftLint/swiftlint lint --strict --config .swiftlint.yml
        working-directory: Example

      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}

      - name: Run danger
        run: npm run danger
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}

  AnalyzePods:
    name: Analyzing pods
    runs-on: macos-14
    needs: [Setup]
    strategy:
      fail-fast: false
      matrix:
        schemes: [common, uikit, swiftui]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache Bundler install Gems
        uses: actions/cache@v4
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ env.ImageVersion }}-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-${{ env.ImageVersion }}

      - name: Cache Pods
        uses: actions/cache@v4
        with:
          path: Example/Pods
          key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pods-

      - name: Bundle Install
        run: bundle install --jobs 4 --retry 3

      - name: Pod Install
        run: bundle exec pod install
        working-directory: Example

      - name: Select Xcode 16
        run: sudo xcode-select --switch /Applications/Xcode_16.app

      - name: Analyze
        run: ./scripts/ci ${{ matrix.schemes }} analysis

  TestPods:
    name: Testing Pods
    needs: [Setup]
    uses: ./.github/workflows/_test.yml
    secrets:
      GH_APP_PRIVATE_KEY: ${{ secrets.GH_APP_PRIVATE_KEY }}

  UploadArtifacts:
    name: Upload Artifacts
    runs-on: macos-14
    needs: [TestPods]
    steps:
      - name: Save assets
        uses: actions/upload-artifact@v4
        if: ${{ failure() }}
        with:
          name: FailureDiffs
          path: Example/BackpackTests/FailureDiffs
