name: Build-Docs

on:
  workflow_call:

defaults:
  run:
    shell: bash -l {0}

jobs:
  BuildDocs:
    name: Build Docs
    runs-on: macos-14
    timeout-minutes: 20
    permissions:
      statuses: write
      pull-requests: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      
      - name: Set GIT_TAG
        id: extract_git_tag
        run: |
          if [[ $GITHUB_REF == "refs/tags/"* ]]
          then
            echo ::set-output name=GIT_TAG::${GITHUB_REF#refs/tags/}
          else
            echo ::set-output name=GIT_TAG::""
          fi

      - name: Print tag
        run: echo ${STEPS_EXTRACT_GIT_TAG_OUTPUTS_GIT_TAG}
        env:
          STEPS_EXTRACT_GIT_TAG_OUTPUTS_GIT_TAG: ${{ steps.extract_git_tag.outputs.GIT_TAG }}

      - name: Set up node and ruby
        uses: asdf-vm/actions/install@b7bcd026f18772e44fe1026d729e1611cc435d47 # v4.0.1

      - name: Cache Bundler install Gems
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ env.ImageVersion }}-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-${{ env.ImageVersion }}

      - name: Cache Pods
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: Example/Pods
          key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pods-

      - name: Bundle Install
        run: bundle install --jobs 4 --retry 3

      - name: Pod Install
        run: bundle exec pod install
        working-directory: Example

      - name: Select Xcode 16
        run: sudo xcode-select --switch /Applications/Xcode_16.2.app

      - name: Install sourcekitten
        run: brew install sourcekitten

      - name: Build and verify docs (main)
        if: steps.extract_git_tag.outputs.GIT_TAG == '' && github.ref == 'refs/heads/main'
        run: ./scripts/build-docs pr_docs && rm -rf docs

      - name: Build and verify docs (pull request build)
        if: steps.extract_git_tag.outputs.GIT_TAG == '' && github.ref != 'refs/heads/main'
        run: ./scripts/build-docs $PR_VERSION
        env:
          PR_VERSION: ${{ github.event.pull_request.number }}
