name: _spm-test

on:
  workflow_call:

defaults:
  run:
    shell: bash -l {0}

jobs:
  spm-test-build:
    name: SwiftPM Test Build
    runs-on: macos-14
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Select Xcode 16
        run: sudo xcode-select --switch /Applications/Xcode_16.2.app

      - name: Build Backpack Swift Package Tests
        run: |
          set -eo pipefail
          destination_file=$(mktemp)
          sdk_path=$(xcrun --sdk iphonesimulator --show-sdk-path)
          toolchain_dir="$(xcode-select -p)/Toolchains/XcodeDefault.xctoolchain/usr/bin"
          developer_frameworks="$(xcode-select -p)/Platforms/iPhoneSimulator.platform/Developer/Library/Frameworks"
          cat <<EOF_DEST > "$destination_file"
          {
            "version": 1,
            "sdk": "$sdk_path",
            "toolchain-bin-dir": "$toolchain_dir",
            "target": "arm64-apple-ios16.0-simulator",
            "extra-cc-flags": [],
            "extra-swiftc-flags": ["-F", "$developer_frameworks"],
            "extra-cpp-flags": [],
            "extra-linker-flags": []
          }
          EOF_DEST

          swift build --build-tests --destination "$destination_file"
          rm "$destination_file"
