name: _spm-build

on:
  workflow_call:

defaults:
  run:
    shell: bash -l {0}

jobs:
  spm-build:
    name: SwiftPM Build
    runs-on: macos-15
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Setup SwiftPM workspace
        uses: ./.github/actions/spm-setup

      - name: Build Backpack Swift Package
        env:
          SPM_DESTINATION: platform=iOS Simulator,name=iPhone SE (3rd generation),OS=18.5
        run: |
          set -eo pipefail
          xcodebuild \
            -workspace .swiftpm/xcode/package.xcworkspace \
            -scheme Backpack-Package \
            -destination "$SPM_DESTINATION" \
            -derivedDataPath .derivedData \
            -skipPackagePluginValidation \
            -skipMacroValidation \
            build

      - name: Clean derived data
        if: always()
        run: rm -rf .derivedData
