name: Test

on:
  workflow_call:
    secrets:
      GH_APP_PRIVATE_KEY:
        required: true
    inputs:
      retake_snapshots:
        required: false
        default: false
        type: boolean

defaults:
  run:
    shell: bash -l {0}

jobs:
  TestPods:
    name: Testing Pods
    runs-on: macos-14
    timeout-minutes: 35
    outputs:
      changed-files: ${{ steps.checkSnapshotChanges.outputs.didChangeFiles }}
    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ steps.app-token.outputs.token }}

      - name: Set up node and ruby
        uses: asdf-vm/actions/install@v4 # Sets ruby and node version via `.tool-versions`

      - name: Cache Bundler install Gems
        uses: actions/cache@v4
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ env.ImageVersion }}-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-${{ env.ImageVersion }}

      - name: Cache Pods
        uses: actions/cache@v4
        with:
          path: Example/Pods
          key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pods-

      - name: Bundle Install
        run: bundle install --jobs 4 --retry 3

      - name: Pod Install
        run: bundle exec pod install
        working-directory: Example

      - name: Select Xcode 16
        run: sudo xcode-select --switch /Applications/Xcode_16.4.app

      - name: Remove snapshots
        if: ${{inputs.retake_snapshots}}
        run: find . -type d -name "__Snapshots__" -exec rm -rf {}  +;

      - name: Run UIKit tests
        run: ./scripts/ci uikit test
        continue-on-error: ${{inputs.retake_snapshots}}

      - name: Run SwiftUI tests
        run: ./scripts/ci swiftui test
        continue-on-error: ${{inputs.retake_snapshots}}

      - name: Check snapshot changes
        id: checkSnapshotChanges
        run: changedFiles=`git status --porcelain` && echo "didChangeFiles=${changedFiles//$'\n'/'%0A'}" >> $GITHUB_OUTPUT

      - name: Save snapshots
        if: ${{inputs.retake_snapshots}}
        run: |
          git config --local user.email "197108191+skyscanner-backpack-bot[bot]@users.noreply.github.com"
          git config --local user.name "skyscanner-backpack-bot[bot]"
          git fetch origin $GITHUB_HEAD_REF
          git checkout $GITHUB_HEAD_REF
          git add --ignore-removal */**/__Snapshots__/*.png
          git diff-index --quiet HEAD || git commit -m "Updated snapshots"
          git push

  NotifyChanges:
    name: "Notify about changes made"
    runs-on: ubuntu-22.04
    needs: [TestPods]
    if: ${{ needs.TestPods.outputs.changed-files != '' &&  inputs.retake_snapshots}}
    steps:
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ vars.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}

      - name: Notify PR of screenshots changes
        uses: actions/github-script@v7
        with:
          github-token: ${{ steps.app-token.outputs.token }}
          script: |
            var body = `### Snapshots were updated. Please verify the changes match the expected layout. \n\n>'${{ needs.TestPods.outputs.changed-files }}'`;
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: body
            })
