name: CI

on:
  push:
    branches: [main]
    tags: ['*.*.*']
  pull_request:
    branches: [main]

# For details on the macOS enviornment see https://github.com/actions/virtual-environments/blob/main/images/macos/macos-10.15-Readme.md
#
# We try to align the versions of tools with what is already available on the image to reduce the time it takes to run our CI.
# At the time of writing(October 2020) these are:
#
# Node: 12.18.4 (Set via .nvmrc)
# Bundler: 2.2.3 (Installed below)
#

defaults:
  run:
    shell: bash -l {0}

jobs:
  CI:
    name: Build and Test
    runs-on: macos-11

    steps:
      - name: Set build image var
        run: echo "ImageVersion=$ImageVersion"  >> $GITHUB_ENV

      # Checkout the repo
      - uses: actions/checkout@v2

      # If a different version of bundler has been used, CI will fail with a very unhelpful error message at `bundle install`.
      # This is hopefully somewhat more helpful:
      - name: Verify Bundler Version
        run: if [[ $(cat Gemfile.lock | sed -n '/BUNDLED WITH/{n;p;}' | sed '/^$/d;s/[[:blank:]]//g') != "2.2.3" ]]; then echo "Error - Gemfile.lock should be bundled with bundler 2.2.3"; exit 64; fi

      - name: Set GIT_TAG
        id: extract_git_tag
        run: |
          if [[ $GITHUB_REF == "refs/tags/"* ]]
          then
            echo ::set-output name=GIT_TAG::${GITHUB_REF#refs/tags/}
          else
            echo ::set-output name=GIT_TAG::""
          fi

      - name: Print tag
        run: echo ${{ steps.extract_git_tag.outputs.GIT_TAG }}

      - name: Select Xcode 12
        run: sudo xcode-select --switch /Applications/Xcode_12.5.app

      - name: Install clang format
        run: brew install clang-format

      - name: nvm install
        run: nvm install

      - name: nvm use
        run: nvm use

      - name: Set Ruby version
        uses: ruby/setup-ruby@v1 # Sets ruby version via `.ruby-version`

      - name: Set Bundler Config
        run: bundle config path vendor/bundle

      - name: Cache Bundler install Gems
        uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ env.ImageVersion }}-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-${{ env.ImageVersion }}

      - name: Cache Pods
        uses: actions/cache@v2
        with:
          path: Example/Pods
          key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pods-

      - name: NPM ci
        run: |
          nvm use
          npm ci

      - name: Bundle Install
        run: bundle install --jobs 4 --retry 3

      - name: Pod Install
        run: bundle exec pod install
        working-directory: Example

      - name: Run NPM build
        run: npm run build

      - name: Check pristine
        run: ./scripts/check-pristine-state package-lock.json

      - name: Run Swiftlint
        run: Pods/SwiftLint/swiftlint lint --strict --config .swiftlint.yml
        working-directory: Example

      - name: Run danger
        run: npm run danger:ci
        env:
          GITHUB_TOKEN: ${{ secrets.DANGER_GITHUB_API_TOKEN }}

      - name: Build and verify docs
        if: steps.extract_git_tag.outputs.GIT_TAG == '' && github.ref == 'refs/heads/main'
        run: ./scripts/build-docs-ci && rm -rf docs

      - name: Build (pull request build)
        if: steps.extract_git_tag.outputs.GIT_TAG == '' && github.ref != 'refs/heads/main'
        run: ./scripts/build-docs-ci $PR_NUMBER
        env:
          PR_NUMBER: ${{ github.event.pull_request.number }}

      - name: Build docs
        if: steps.extract_git_tag.outputs.GIT_TAG != ''
        run: ./scripts/build-docs-ci ${{ steps.extract_git_tag.outputs.GIT_TAG }}

      - name: Build and Test
        env:
          FULL_TEST: TRUE
          BUILD_SDK: iphonesimulator14.4
          DESTINATION: 'OS=14.4,platform=iOS Simulator,name=iPhone 8'
        run: bundle exec rake ci
        working-directory: Example

      - name: Save assets
        uses: actions/upload-artifact@v2
        if: ${{ failure() }}
        with:
          name: FailureDiffs
          path: Example/BackpackTests/FailureDiffs

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: steps.extract_git_tag.outputs.GIT_TAG != ''
        with:
          personal_token: ${{ secrets.DEPLOY_TOKEN }}
          publish_dir: docs/
          keep_files: true
          external_repository: backpack/ios
          publish_branch: main

      - name: Deploy docs to backpack.github.io/ios-prs, if a pull request
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref != 'refs/heads/main'
        with:
          personal_token: ${{ secrets.DEPLOY_TOKEN }}
          publish_dir: docs/versions/
          keep_files: true
          external_repository: backpack/ios-prs
          publish_branch: main

  trigger_docs:
    name: Trigger docs build
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-20.04

    steps:
      - name: Trigger docs build
        env:
          BACKPACK_DOCS_DEPLOY_TOKEN: ${{ secrets.BACKPACK_DOCS_DEPLOY_TOKEN }}
        run: |
          curl -f -s -X POST -H "Content-Type: application/json" -H "Accept: application/vnd.github.v3+json" -H "Authorization: token $BACKPACK_DOCS_DEPLOY_TOKEN" -d '{"ref":"main","inputs":{"repo":"backpack-ios"}}' https://api.github.com/repos/Skyscanner/backpack-docs/actions/workflows/ci.yml/dispatches

  comment_on_pr:
    needs: CI
    name: Comment on PR
    # Only run if there is no tag, and the commit is not on main
    if: contains('refs/tags/', github.ref) && github.ref != 'refs/heads/main'
    runs-on: ubuntu-20.04

    steps:
      - name: Link to the pull request build
        uses: unsplash/comment-on-pr@master
        with:
          msg: 'Visit https://backpack.github.io/ios-prs/${{ env.PR_NUMBER }} to see the docs for this PR.'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
