name: Retake Snapshots

on:
  pull_request:
    branches: [main]

jobs:
  CheckCommitMessage:
    name: Check commit message
    runs-on: ubuntu-22.04
    outputs:
      head-commit-message: ${{ steps.get_head_commit_message.outputs.headCommitMsg }}
    steps:
      - uses: GitHubSecurityLab/actions-permissions/monitor@b25f731bf2f9eb9748c2e9757d366c3e72fa2109 # v1.0.2-beta8
      - name: Get repo
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Print head git commit message
        id: get_head_commit_message
        run: echo "headCommitMsg=$(git show -s --format=%s)" >> $GITHUB_OUTPUT
  TakeSnapshot:
    name: Take snapshot
    needs: CheckCommitMessage
    permissions:
      statuses: write
      pull-requests: write
      contents: write
    if: ${{ needs.CheckCommitMessage.outputs.head-commit-message == 'Record snapshots' }}
    uses: ./.github/workflows/_test.yml
    secrets:
      GH_APP_PRIVATE_KEY: ${{ secrets.GH_APP_PRIVATE_KEY }}
    with:
      retake_snapshots: true
